body{
  font-family: 'Montserrat', sans-serif;
  background-color: #EAEAEA;
}

.box-1{
text-align: center;
width: 500px;
height: 450px;
margin: auto;
margin-bottom: 20px;
background-color: white;
box-shadow: 1px 1px 1px #888888;
border-radius: 2px;
}

.photo{
margin: auto;
width: 200px;
}

.photo img{
  border-radius: 200px;
  margin-top: 20px;
  width: 140px;
}

h1{
  text-align: center;
  color: #D63F3F;
  font-weight: bold;
  margin: 10px 0px;
}

h2{

}

.box-1 p{
  text-align: justify;
  width: 450px;
  margin: auto;
  margin-bottom: 20px;
  font-size: 15px;
}

.box-1 a{
  font-size: 20px;
  text-decoration: none;
  margin: auto;
}

.box-1 a .infowiki{

  clear: both;
  position: relative;
  color: #FFF;
  z-index: 99999;
  border-radius: 5px;
  background-color: #D63F3F;
  width: 190px;
  height: 35px;
  margin: auto;
  padding-top: 5px;
}

.box-2{
  text-align: center;
  margin: auto;
  margin-top: 20px;
  background-color: white;
  box-shadow: 1px 1px 1px #888888;
  max-width: 500px;
  height: 200px;
  border-radius: 2px;
}

.box-2 table{
  margin: auto;
  padding: 0;
}

.box-2 tr{
  height: 80px;
}
.logo td{
margin: 38px 40px 0px 43px;

}

.logo-name td{
text-align: center;
margin: 10px 33px 0px 18px;
}

td{
  display: inline-block;
  margin: 0px 15px;
}

.box-2 td a{
  color: #DCDCDC;
  text-decoration: none;
  font-size: 40px;
}

.box-3{
  margin: auto;
  margin-top: 20px;
  background-color: white;
  box-shadow: 1px 1px 1px #888888;
  max-width: 500px;
  border-radius: 2px;
}

.box-3 td{
  font-size: 15px;
}

.box-3 img{
  height: 100px;
}
